USE [TaskManager]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 18/09/2025 11:16:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [uniqueidentifier] NOT NULL,
	[ProjectName] [nvarchar](100) NOT NULL,
	[ProjectDescription] [nvarchar](500) NOT NULL,
	[DateOfStart] [datetime2](7) NOT NULL,
	[TeamSize] [int] NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [ProjectDescription], [DateOfStart], [TeamSize]) VALUES (N'd6ba6e6b-db35-4227-a9ba-08f271a90ee5', N'Project Tau', N'Déploiement d''une solution de sauvegarde cloud.', CAST(0x070000000000AF480B AS DateTime2), 4)
INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [ProjectDescription], [DateOfStart], [TeamSize]) VALUES (N'fda43c8b-c503-4f5b-81e1-1098ae01bcde', N'Outil CRM sur mesure', N'Développement d’un outil CRM adapté aux besoins d’un client BTP.', CAST(0x07000000000020440B AS DateTime2), 7)
INSERT [dbo].[Projects] ([ProjectId], [ProjectName], [ProjectDescription], [DateOfStart], [TeamSize]) VALUES (N'1a12e199-b289-4d38-961e-12345876abcd', N'Application RH Mobile', N'Développement d''une application mobile pour la gestion RH en interne.', CAST(0x070000000000A4440B AS DateTime2), 4)
